bittensor==7.1.2
torch>=2.3.0
openai>=1.50.0
loguru
apify-client
elasticsearch
python-dotenv
pydantic==2.9.2
wandb>=0.18
transformers
tqdm
requests
python-dateutil
numpy<2.0
huggingface-hub>=0.27.0
datasets>=3.2
info-nce-pytorch>=0.1.4
cachetools