bittensor==8.5.1
torch>=2.3.0
openai>=1.50.0
loguru
apify-client
elasticsearch
python-dotenv
pydantic
wandb>=0.18
transformers
tqdm
requests
python-dateutil
numpy
huggingface-hub>=0.27.0
datasets>=3.2
info-nce-pytorch>=0.1.4
cachetools
nltk>=3.9.1
scikit-learn>=1.6.0

